<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nest base application</title>
  </head>
  <body style="font-family: Arial,serif; font-size: 14px">
    <div>
      <p>Click here to <a href="<%=data.link%>">Reset your email</a>.</p>
    </div>
  </body>
</html>
