<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nest base application</title>
  </head>
  <body style="font-family: Arial,serif; font-size: 14px">
    <div>
      <p>Dear <b><%=data.name%></b>,</p>
      <p>Link to verify account: <a href="<%=data.link%>">Click here</a></p>
    </div>
  </body>
</html>
